
body{
    /* background-color:#f8f9fa; */
    /* margin-left:1em; */
   font-size:x-large;
   margin-right: 0%;
  
   
}
 header{
    background-color: rgb(17, 37, 126);   
   
        position: sticky;
        top: 0;
      
 }
 .main-body .up .para .desb .h5
 {
    background-color: red;   

 }


 header .navbar{
    display: flex;
    place-content: space-between;
  

  
}
.logo{
   /* background-color: beige; */
   text-decoration: none;
   color: RGB(255,255,255);
font-weight: bolder;
    padding: 2em;
    font-size: x-large;

}
.navbar-menu{

    display: none;
   background-color: rgb(17, 37, 126);
    display: block;
    display: flex;
    place-content: space-between;

}

.top-of-page{
    /* background-color: RGB(255,255,255); */
    display: flex;   
}
 .top-of-page h1{

    margin: auto;
    color: rgb(17, 37, 126);
    padding-top: 4em;
    padding-bottom: 4em;
} 
img{
    width: 25%;
    border-radius: 25%;
    padding: 2em;
}

.options a{
    text-decoration:none;
    margin-left: 0.5em;
    margin-right: 2em;
    background-color:RGB(255,255,255);
    color:rgb(17, 37, 126);
    font-size:small;
    
    padding: 2%;
    padding-top:3%;
    padding-bottom: 3%;

    border-color: rgb(17, 37, 126);
    border-style:solid;
      border-width: 5px;
      border-radius: 25%;

}
.current a { 
    padding: 2%;
    border-color: rgb(17, 37, 126);
    border-style:solid;
      border-width: 5px;
      border-radius: 25%;
     
}

.options{
    display: block;
    list-style-type: none; 
    display:flex;
    place-content:space-between;
   
}
.navbar-menu .options{
    display: none;
}



.main-body
{    
    

    display: flex;
    place-content: space-between;
    
}
.main-body .up
{
   
    display: block;
    width: 75%;
    margin-left: 2em;
    margin-right: 2em;
   
}
.up .para{
     background-image:url('images/blue3.jpeg');
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    line-height: 1.5em;
    color: blue;

   

}




.up img{
  height:25%;
  padding-bottom:0%;
  padding: auto;
 
}

.desb h6{
    background-color: aliceblue;
    color: rgb(17, 37, 126);
}
.up a{
    background-color:rgb(17, 37, 126);
    color: white;
    border-color:  aliceblue;
    border-style: solid;
}


.main-body .down
{

    display: block;
     display: none;
    width: 30%;
}
.down h4{
    text-align: center;
    padding: 2em;
    padding-top: 3em;
    color: rgb(17, 37, 126)
}
.side-options {display: none;
   
  list-style-type:  none;
  display: block;
  margin-top: 5em;
  margin-left: 0%;
  text-align: center;
 
}
.side-options a{
    text-decoration:  none;
    font-weight: 1000;
    font-size:medium;
    color:RGB(255,255,255);
    background-color:rgb(17, 37, 126);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
   border-radius: 50%;
}
.side-options li{
    padding: 1em;
    align-items: center;
   

}


 
 
footer{
    background-color:rgb(17, 37, 126);
    padding-left: 2em;
    margin-bottom: 0%;
   display: block;
  


}
footer a {
    color:white;
}

@media only screen and (min-width:768px){
    .main-body .down{

        /* background-color: RGB(255,255,255); */
    display: block;
    width: 30%;
     
    }
    header {
        position: relative;
        
      }
      .up .para{
        
    margin-bottom: 2em;
    padding-left: 4em;
    padding-bottom: 4em;
    text-align: center;
      
    }
    .up img{
        height:15%;
        padding:0%;
     
      
      }
      .dropbtn{
        display: none;
    }
    .navbar-menu .options{
        display: block;
        display: flex;
        
    }
    

    
}
/* Dropdown Button */
.dropbtn{
    margin-top: 2em;
    margin-right: 2em;;
    padding:2%;
    padding-top:3%;
    padding-bottom: 3%;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
     color: rgb(17, 37, 126);
     background-color: white;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
   margin: right 1em;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
     

     display: none;
    position:relative;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1; 


  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #2980B9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



